/node_modules
/**/node_modules

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov

bower_components

.npm

.node_repl_history

*.tgz

.env
.env.*

dist

.local

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

Backend/dist
Backend/build

Frontend/dist
Frontend/build

*.tmp
*.temp
*.bak
*.orig
*.save

.yarn-integrity

*.code-workspace
